In [275]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [276]:
cd Downloads

[WinError 2] The system cannot find the file specified: 'Downloads'
C:\Users\Pattu\Downloads

In [277]:
df=pd.read_csv("Hiring_Challenge.csv")

In [278]:
df.head()

  C1     C2     C3 C4 C5 C6 C7    C8 C9 C10  C11 C12 C13  C14  C15  Hired
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202    0      1
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43  560      1
2  a   24.5  0.500  u  g  q  h  1.50  t   f    0   f   g  280  824      1
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100    3      1
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120    0      1

In [279]:
df.shape

(690, 16)

In [280]:
df.isnull().sum()

C1       0
C2       0
C3       0
C4       0
C5       0
C6       0
C7       0
C8       0
C9       0
C10      0
C11      0
C12      0
C13      0
C14      0
C15      0
Hired    0
dtype: int64

In [281]:
df.describe()

               C3          C8        C11            C15       Hired
count  690.000000  690.000000  690.00000     690.000000  690.000000
mean     4.758725    2.223406    2.40000    1017.385507    0.444928
std      4.978163    3.346513    4.86294    5210.102598    0.497318
min      0.000000    0.000000    0.00000       0.000000    0.000000
25%      1.000000    0.165000    0.00000       0.000000    0.000000
50%      2.750000    1.000000    0.00000       5.000000    0.000000
75%      7.207500    2.625000    3.00000     395.500000    1.000000
max     28.000000   28.500000   67.00000  100000.000000    1.000000

In [282]:
df.columns

Index(['C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11',
       'C12', 'C13', 'C14', 'C15', 'Hired'],
      dtype='object')

In [283]:
df['C1'].value_counts()

b    468
a    210
?     12
Name: C1, dtype: int64

In [284]:
df['C2'].value_counts()

?        12
22.67     9
20.42     7
25        6
20.67     6
         ..
51.58     1
59.5      1
34.5      1
32.17     1
57.42     1
Name: C2, Length: 350, dtype: int64

In [285]:
df['C3'].value_counts()

1.500     21
0.000     19
3.000     19
2.500     19
1.250     16
          ..
12.125     1
13.915     1
22.000     1
12.835     1
10.915     1
Name: C3, Length: 215, dtype: int64

In [286]:
df['C4'].value_counts()

u    519
y    163
?      6
l      2
Name: C4, dtype: int64

In [287]:
df['C5'].value_counts()

g     519
p     163
?       6
gg      2
Name: C5, dtype: int64

In [288]:
df['C6'].value_counts()

c     137
q      78
w      64
i      59
aa     54
ff     53
k      51
cc     41
m      38
x      38
d      30
e      25
j      10
?       9
r       3
Name: C6, dtype: int64

In [289]:
df['C7'].value_counts()

v     399
h     138
bb     59
ff     57
?       9
z       8
j       8
dd      6
n       4
o       2
Name: C7, dtype: int64

In [290]:
df['C8'].value_counts()

0.000    70
0.250    35
0.040    33
1.000    31
0.125    30
         ..
3.960     1
2.040     1
1.040     1
4.165     1
5.375     1
Name: C8, Length: 132, dtype: int64

In [291]:
df['C9'].value_counts()

t    361
f    329
Name: C9, dtype: int64

In [292]:
df['C10'].value_counts()

f    395
t    295
Name: C10, dtype: int64

In [293]:
df['C12'].value_counts()

f    374
t    316
Name: C12, dtype: int64

In [294]:
df['C13'].value_counts()

g    625
s     57
p      8
Name: C13, dtype: int64

In [295]:
df['C14'].value_counts()

0      132
120     35
200     35
160     34
80      30
      ...
94       1
680      1
188      1
276      1
465      1
Name: C14, Length: 171, dtype: int64

In [296]:
df['C15'].value_counts()

0       295
1        29
1000     10
500      10
2         9
       ...
2503      1
6590      1
1465      1
5552      1
283       1
Name: C15, Length: 240, dtype: int64

In [297]:
df['Hired'].value_counts()

0    383
1    307
Name: Hired, dtype: int64

In [298]:
df = df.drop(df[df['C1'] =='?'].index)

In [299]:
df['C1'].value_counts()

b    468
a    210
Name: C1, dtype: int64

In [300]:
df['C1']

0      b
1      a
2      a
3      b
4      b
      ..
685    b
686    a
687    a
688    b
689    b
Name: C1, Length: 678, dtype: object

In [301]:
df = df.drop(df[df['C2'] =='?'].index)

In [302]:
df['C2'].value_counts()

22.67    9
23.58    6
18.83    6
25       6
20.42    6
        ..
59.5     1
34.5     1
32.17    1
38.33    1
57.42    1
Name: C2, Length: 345, dtype: int64

In [303]:
df = df.drop(df[df['C4'] =='?'].index)

In [304]:
df['C4'].value_counts()

u    503
y    155
l      2
Name: C4, dtype: int64

In [305]:
df = df.drop(df[df['C5'] =='?'].index)

In [306]:
df = df.drop(df[df['C6'] =='?'].index)

In [307]:
df = df.drop(df[df['C7'] =='?'].index)

In [308]:
df = df.drop(df[df['C8'] =='?'].index)

In [309]:
df.head()

  C1     C2     C3 C4 C5 C6 C7    C8 C9 C10  C11 C12 C13  C14  C15  Hired
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202    0      1
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43  560      1
2  a   24.5  0.500  u  g  q  h  1.50  t   f    0   f   g  280  824      1
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100    3      1
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120    0      1

In [310]:
df.shape

(659, 16)

In [233]:
df.head()

  C1     C2     C3  C4 C5 C6 C7    C8 C9 C10  C11 C12 C13  C14  C15  Hired
0  b  30.83  0.000   1  g  w  v  1.25  t   t    1   f   g   41    0      1
1  a  58.67  4.460   1  g  q  h  3.04  t   t    6   f   g  114  560      1
2  a   24.5  0.500   1  g  q  h  1.50  t   f    0   f   g   71  824      1
3  b  27.83  1.540   1  g  w  v  3.75  t   t    5   t   g    1    3      1
4  b  20.17  5.625   1  g  w  v  1.71  t   f    0   f   s    7    0      1

In [234]:
df['C14'].value_counts()

0      131
7       35
39      34
22      33
1       30
      ...
103      1
108      1
109      1
110      1
78       1
Name: C14, Length: 167, dtype: int64

In [235]:
df['C4'].value_counts()

1    510
2    159
0      2
Name: C4, dtype: int64

In [311]:
# Encoding
en=LabelEncoder()

In [312]:
df['C1']=en.fit_transform(df['C1'])

In [313]:
df['C1']

0      1
1      0
2      0
3      1
4      1
      ..
685    1
686    0
687    0
688    1
689    1
Name: C1, Length: 659, dtype: int32

In [314]:
df['C1'].value_counts()

1    454
0    205
Name: C1, dtype: int64

In [315]:
df['C4']=en.fit_transform(df['C4'])

In [316]:
df['C5']=en.fit_transform(df['C5'])

In [317]:
df['C6']=en.fit_transform(df['C6'])

In [318]:
df['C7']=en.fit_transform(df['C7'])

In [319]:
df['C9']=en.fit_transform(df['C9'])

In [320]:
df['C10']=en.fit_transform(df['C10'])

In [321]:
df['C12']=en.fit_transform(df['C12'])

In [322]:
df['C13']=en.fit_transform(df['C13'])

In [323]:
df.head()

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,C15,Hired
0,1,30.83,0.000,1,0,12,7,1.25,1,1,1,0,0,202,0,1
1,0,58.67,4.460,1,0,10,3,3.04,1,1,6,0,0,43,560,1
2,0,24.5,0.500,1,0,10,3,1.50,1,0,0,0,0,280,824,1
3,1,27.83,1.540,1,0,12,7,3.75,1,1,5,1,0,100,3,1
4,1,20.17,5.625,1,0,12,7,1.71,1,0,0,0,2,120,0,1

In [324]:
df.dtypes

C1         int32
C2        object
C3       float64
C4         int32
C5         int32
C6         int32
C7         int32
C8       float64
C9         int32
C10        int32
C11        int64
C12        int32
C13        int32
C14       object
C15        int64
Hired      int64
dtype: object

In [326]:
df.shape

(659, 16)

In [327]:
df['C2']=pd.to_numeric(df['C2'])

In [329]:
df = df.drop(df[df['C14'] =='?'].index)

In [330]:
df['C14']=pd.to_numeric(df['C14'])

In [331]:
df.head()

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,C15,Hired
0,1,30.83,0.000,1,0,12,7,1.25,1,1,1,0,0,202,0,1
1,0,58.67,4.460,1,0,10,3,3.04,1,1,6,0,0,43,560,1
2,0,24.50,0.500,1,0,10,3,1.50,1,0,0,0,0,280,824,1
3,1,27.83,1.540,1,0,12,7,3.75,1,1,5,1,0,100,3,1
4,1,20.17,5.625,1,0,12,7,1.71,1,0,0,0,2,120,0,1

In [332]:
df.dtypes

C1         int32
C2       float64
C3       float64
C4         int32
C5         int32
C6         int32
C7         int32
C8       float64
C9         int32
C10        int32
C11        int64
C12        int32
C13        int32
C14        int64
C15        int64
Hired      int64
dtype: object

In [333]:
df.shape

(653, 16)

In [334]:
df.head()

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,C15,Hired
0,1,30.83,0.000,1,0,12,7,1.25,1,1,1,0,0,202,0,1
1,0,58.67,4.460,1,0,10,3,3.04,1,1,6,0,0,43,560,1
2,0,24.50,0.500,1,0,10,3,1.50,1,0,0,0,0,280,824,1
3,1,27.83,1.540,1,0,12,7,3.75,1,1,5,1,0,100,3,1
4,1,20.17,5.625,1,0,12,7,1.71,1,0,0,0,2,120,0,1

In [273]:
df.head()

   C1     C2     C3  C4  C5  C6  C7    C8  C9  C10  C11  C12  C13  C14  C15
0   1  30.83  0.000   1   0  12   7  1.25   1    1    1    0    0   41    0
1   0  58.67  4.460   1   0  10   3  3.04   1    1    6    0    0  114  560
2   0  24.50  0.500   1   0  10   3  1.50   1    0    0    0    0   71  824
3   1  27.83  1.540   1   0  12   7  3.75   1    1    5    1    0    1    3
4   1  20.17  5.625   1   0  12   7  1.71   1    0    0    0    2    7    0

In [335]:
y=df['Hired']

In [336]:
df=df.drop(['Hired'],axis=1)

In [339]:
df.head()

   C1     C2     C3  C4  C5  C6  C7    C8  C9  C10  C11  C12  C13  C14  C15
0   1  30.83  0.000   1   0  12   7  1.25   1    1    1    0    0  202    0
1   0  58.67  4.460   1   0  10   3  3.04   1    1    6    0    0   43  560
2   0  24.50  0.500   1   0  10   3  1.50   1    0    0    0    0  280  824
3   1  27.83  1.540   1   0  12   7  3.75   1    1    5    1    0  100    3
4   1  20.17  5.625   1   0  12   7  1.71   1    0    0    0    2  120    0

In [340]:
X=df

In [341]:
X.head()

   C1     C2     C3  C4  C5  C6  C7    C8  C9  C10  C11  C12  C13  C14  C15
0   1  30.83  0.000   1   0  12   7  1.25   1    1    1    0    0  202    0
1   0  58.67  4.460   1   0  10   3  3.04   1    1    6    0    0   43  560
2   0  24.50  0.500   1   0  10   3  1.50   1    0    0    0    0  280  824
3   1  27.83  1.540   1   0  12   7  3.75   1    1    5    1    0  100    3
4   1  20.17  5.625   1   0  12   7  1.71   1    0    0    0    2  120    0

In [342]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Hired, dtype: int64

In [175]:
df.dtypes

C1       int32
C2     float64
C3     float64
C4       int32
C5       int32
C6       int32
C7       int32
C8     float64
C9       int32
C10      int32
C11      int64
C12      int32
C13      int32
C14      int64
C15      int64
dtype: object

In [343]:
scaler=StandardScaler()

In [344]:
df1=scaler.fit_transform(df)

In [345]:
df1=pd.DataFrame(df1)

In [346]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.671648,-0.056962,-0.961440,-0.536873,-0.554357,1.450433,0.768656,-0.295171,0.933306,1.129275,-0.302596,-0.927577,-0.301777,0.128682,-0.193125
1,-1.488875,2.296536,-0.073565,-0.536873,-0.554357,0.984553,-0.836244,0.236217,0.933306,1.129275,0.704516,-0.927577,-0.301777,-0.816802,-0.086443
2,-1.488875,-0.592078,-0.861903,-0.536873,-0.554357,0.984553,-0.836244,-0.220955,0.933306,-0.885524,-0.504019,-0.927577,-0.301777,0.592504,-0.036150
3,0.671648,-0.310572,-0.654865,-0.536873,-0.554357,1.450433,0.768656,0.446990,0.933306,1.129275,0.503093,1.078078,-0.301777,-0.477855,-0.192553
4,0.671648,-0.958122,0.158358,-0.536873,-0.554357,1.450433,0.768656,-0.158613,0.933306,-0.885524,-0.504019,-0.927577,3.347492,-0.358926,-0.193125

In [347]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Hired, dtype: int64

In [348]:
X=df1

In [349]:
X.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.671648,-0.056962,-0.961440,-0.536873,-0.554357,1.450433,0.768656,-0.295171,0.933306,1.129275,-0.302596,-0.927577,-0.301777,0.128682,-0.193125
1,-1.488875,2.296536,-0.073565,-0.536873,-0.554357,0.984553,-0.836244,0.236217,0.933306,1.129275,0.704516,-0.927577,-0.301777,-0.816802,-0.086443
2,-1.488875,-0.592078,-0.861903,-0.536873,-0.554357,0.984553,-0.836244,-0.220955,0.933306,-0.885524,-0.504019,-0.927577,-0.301777,0.592504,-0.036150
3,0.671648,-0.310572,-0.654865,-0.536873,-0.554357,1.450433,0.768656,0.446990,0.933306,1.129275,0.503093,1.078078,-0.301777,-0.477855,-0.192553
4,0.671648,-0.958122,0.158358,-0.536873,-0.554357,1.450433,0.768656,-0.158613,0.933306,-0.885524,-0.504019,-0.927577,3.347492,-0.358926,-0.193125

In [350]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Hired, dtype: int64

In [351]:
X.corr()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1.000000,0.042177,-0.034906,0.066742,0.063122,-0.011568,0.057212,0.084899,-0.023251,-0.065192,-0.016683,0.052315,0.081948,0.077617,0.013099
1,0.042177,1.000000,0.217681,-0.091395,-0.105122,0.023282,-0.189454,0.417647,0.218637,0.103633,0.198153,0.058133,-0.021586,-0.084618,0.029078
2,-0.034906,0.217681,1.000000,-0.102243,-0.089745,0.009221,-0.030666,0.300600,0.236751,0.166092,0.269834,-0.006083,-0.105181,-0.217076,0.119754
3,0.066742,-0.091395,-0.102243,1.000000,0.981080,-0.045024,-0.021015,-0.089650,-0.116015,-0.158118,-0.104061,-0.009850,-0.037934,0.011770,-0.118505
4,0.063122,-0.105122,-0.089745,0.981080,1.000000,-0.051335,-0.026003,-0.081862,-0.129090,-0.169691,-0.110822,0.001747,-0.011931,0.024496,-0.018528
5,-0.011568,0.023282,0.009221,-0.045024,-0.051335,1.000000,-0.000935,0.032704,0.105197,0.112155,-0.002706,0.069720,0.017234,0.084472,-0.006700
6,0.057212,-0.189454,-0.030666,-0.021015,-0.026003,-0.000935,1.000000,-0.094978,-0.034977,-0.001452,-0.037329,-0.004235,0.042494,-0.013047,-0.022527
7,0.084899,0.417647,0.300600,-0.089650,-0.081862,0.032704,-0.094978,1.000000,0.336148,0.228035,0.327325,0.139317,-0.001762,-0.064781,0.052159
8,-0.023251,0.218637,0.236751,-0.116015,-0.129090,0.105197,-0.034977,0.336148,1.000000,0.430586,0.378264,0.089864,-0.110474,-0.057225,0.084427
9,-0.065192,0.103633,0.166092,-0.158118,-0.169691,0.112155,-0.001452,0.228035,0.430586,1.000000,0.569176,0.020223,-0.233452,-0.038994,0.068189
10,-0.016683,0.198153,0.269834,-0.104061,-0.110822,-0.002706,-0.037329,0.327325,0.378264,0.569176,1.000000,0.005757,-0.134091,-0.116101,0.058408
11,0.052315,0.058133,-0.006083,-0.009850,0.001747,0.069720,-0.004235,0.139317,0.089864,0.020223,0.005757,1.000000,0.017105,0.139708,0.027534
12,0.081948,-0.021586,-0.105181,-0.037934,-0.011931,0.017234,0.042494,-0.001762,-0.110474,-0.233452,-0.134091,0.017105,1.000000,0.051793,-0.005020
13,0.077617,-0.084618,-0.217076,0.011770,0.024496,0.084472,-0.013047,-0.064781,-0.057225,-0.038994,-0.116101,0.139708,0.051793,1.000000,0.073384
14,0.013099,0.029078,0.119754,-0.118505,-0.018528,-0.006700,-0.022527,0.052159,0.084427,0.068189,0.058408,0.027534,-0.005020,0.073384,1.000000

In [352]:
X.shape

(653, 15)

In [353]:
y.shape

(653,)

In [354]:
model=LogisticRegression()

In [356]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [359]:
model.fit(X_train,y_train)

LogisticRegression()

In [360]:
pre=model.predict(X_train)

In [362]:
accuracy_score(y_train,pre)

0.8850574712643678

In [363]:
pre1=model.predict(X_test)

In [364]:
accuracy_score(y_test,pre1)

0.8473282442748091